a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

h2 {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}


.img_profil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin:  auto;
}

.divbox {
    width: 500px;
    border: 1px solid rgb(35, 39, 35);
    padding: 20px;
    margin: 20px auto;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

blockquote {
    background: #ebede7;
    border-left: 5px solid #007bff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: 10px 0;
    padding: 10px 20px;
    font-style: italic;
    color: #555;
}

p {
    font-style: italic;
    font-size: 20px;
}

body.dark-mode {
    background-color: black;
    color: white;
}

body.dark-mode blockquote {
    background-color: #333;
    color: #ddd;
}
